
.ask-weather {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }
  
.date-result {
      text-align: center;
  }

.container{
     text-align: center;
 }

 h1 {
 text-align: center;
 }

.search{
     padding: 30px;
     margin-bottom: 20px;
 }

#city{
    font-size: 50px;
    margin-top: 50px;
}

#temperature{
    font-size: 20px;
}

.test{  
    margin-top: 100px;
    white-space: nowrap;
    width: 30px;
    display: inline-block;
    overflow-x: scroll;

}

.body{
    background-image:url(https://images5.alphacoders.com/416/thumb-1920-416352.jpg);
    color: white;
    border-radius: 50%;
}

 .hourly{
     
     text-align: center;
     align-items: center;
     margin: 10px;
     padding: 10px;
     flex-wrap: nowrap;

     
 }

 .hourlyBloc{
     margin: 100px;
     display: inline-block;
 }